@font-face{ 
    font-family: 'rubik-regular';
    src: url('rubik/Rubik-Regular.ttf');
    src: url('rubik/Rubik-Regular.ttf') format('truetype');
}


body {
    font-family: 'rubik-regular', sans-serif;

    /*    This is necessary to keep the images changing size*/
    max-height: 100vh;
    max-width: 100vw;
}

img {
    max-width: 100%; 
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.content{
    max-width:600px;
    display: block;
    margin:auto;
    text-align: center;
    background-color: lightgrey;
}

h1{
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    padding: 15px;
}

h4 { 
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

#logo {
    display: block;
    margin-left:auto;
    margin-right:auto;
    padding-left: 15px;
}

.parallax {
    /* The image used is set locally */

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#info{
    margin:20px;
    max-width:60%vh;
    text-align: left;
}

#description {
    margin-top: 2%;
    padding-left:10%;
    max-width:60%vh;
    text-align: left;
    
    color:dimgrey;
    font-weight: lighter;
}

.positions{
    background-color:darkgrey;
}

.contact{
    margin:20px;
}

.mytitle{
    background-color: black;
    color:white;
    text-align:center;
    padding-top: 20px;
    padding-bottom:20px;
}

#quote{
    display: none;
    float:right;
}

#quote p{
    text-align: center;
}

iframe{
    margin-left:auto;
    margin-right:auto;
    flex:center;
    display: block;
    padding:15px;
    width:500px;
}

#pricing-info{
    width:550px;
    margin:auto;
}

#details {
    text-decoration-line: underline;
}

.navigation {
    list-style: none;
    margin: 0; 
    overflow: hidden;

    background: #175076;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: .5em;
    font-family: 'rubik-regular', sans-serif;
    font-size: 25px;
    color: white;
}

.navigation a:hover {
    background: darken(#175076, 2%);
}

.navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
}


.navigation li:last-of-type a {
    border-bottom: none;
    padding-right:1em;
}


/*Attempts at using contact us form:    */
  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #175076;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
/*    background-color: #175076;*/
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin:0px;
}
    


/*    MEDIA QUERIES   */

@media all and (min-width: 600px) {
    .navigation {
    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
    }
    #logo {
        max-height: 150px;
        background-color: white;
        margin-left:15px;
        margin-bottom: 3px;
        flex:left;
    }
    .container{
        max-width:600px;
        margin-left:auto;
        margin-right:auto;
    }
 
    #head{
    display:flex;
    max-height: 150px;
    align-items: center;
    margin-right: 35px; padding: 15px;
    }
    #head p{
        max-width: 400px;
    }
    .page{
/*        display:inline-block;*/
        max-width: 800px;
        margin:auto;
    }
}

@media all and (min-width: 800px){
    .container{
        
    }
    .contact{
        margin:40px;
    }
        #quote{
        display:flex;
        float:right;
    }
}
    